@model SalesManagementSystem.Models.AssessItem

@{
    ViewBag.Title = "删除评分条目";
}

<div class="portlet grid_12">
    <header>
        <h2>确定删除？</h2>
    </header>
    <section>


@using (Html.BeginForm("Delete", "AssessItem", FormMethod.Post, new { @class = "form has-validation" }))
{
    <div class="clearfix">
        @Html.LabelFor(model => model.ItemName, new { @class = "form-label no-decription" }, true)
        <div class="form-input">
            @Html.DisplayFor(model => model.ItemName)
        </div>
    </div>
    <br />
    
    <div class="clearfix">
        @Html.LabelFor(model => model.Score, new { @class = "form-label no-decription" }, true)   
        <div class="form-input">
            @Html.DisplayFor(model => model.Score)
        </div>
    </div>
    <br />
    
    <div class="clearfix">
        @Html.LabelFor(model => model.Description, new { @class = "form-label no-decription" })
        <div class="form-input">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <br />
    
    <div class="form-action clearfix">
        <button class="button" type="submit" data-icon-primary="ui-icon-circle-check">删除</button>
        <input type="button" value = "返回上一页" onClick="location.href='javascript:history.go(-1);'"/>
    
    </div>
}
</div>
