@model SalesManagementSystem.Models.Category

@{
    ViewBag.Title = "删除分类";
}


<h3>确定删除此分类吗?</h3>
<div class="portlet grid_12">
        <header>
            <h2>商品类型信息</h2>
        </header>
        <section>
@using (Html.BeginForm("Delete", "Category", FormMethod.Post, new { @class = "form has-validation" }))
{
    @Html.ValidationSummary(true)

            <div class="clearfix">
                 @Html.LabelFor((model => model.CategoryName), new { @class = "form-label no-description" })
                <div class="form-input">
                    @Html.DisplayFor(model => model.CategoryName)
                </div>
            </div>
            <div class="clearfix">
                 @Html.LabelFor((model => model.Description), new { @class = "form-label no-description" })
                <div class="form-input">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>                 
            <div class="form-action clearfix">
            <button class="button" type="submit" data-icon-primary="ui-icon-circle-check">删除</button>   
        <input type="button" value = "返回上一页" onClick="location.href='javascript:history.go(-1);'"/>
            </div>
}
</section>
</div>
